{% extends 'base.html.twig' %}

{% block title %}Simple Social Login Page{% endblock %}

{% block body %}
    <h1 class="text-center">Please Login</h1>
    <div class="login-box">
        <div class="login-box-header">Login</div>
        <div class="login-box-social">
            {% if data is not empty %}
                <div class="row">
                    <h4>Welcome {{ data.fullname }}</h4>
                </div>
                <div class="row form-group">
                    <img class="img-circle center-block" src="{{ data.avatar_img }}"/>
                </div>
                <div class="row text-center">
                    <a href="{{ path('logout') }}" class="btn btn-info" role="button">Logout</a>
                </div>
            {% else %}
            <h4>Connect with<h4>
            <ul>
                <li>
                    <a href="#" class="facebook">
                        <span class="fa fa-facebook-official"/>
                    </a>
                </li>
                <li>
                    <a href="#" class="twitter">
                        <span class="fa fa-twitter"/>
                    </a>
                </li>
                <li>
                    <a href="{{ path('google') }}" class="google">
                        <span class="fa fa-google"/>
                    </a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}
