{% extends 'base.html.twig' %}

{% block title %}Simple Social Login Page{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">Login</div>
        <div class="card-body login-box-social">
            {% if is_granted('ROLE_USER') %}
            {% else %}
            <h4>Connect with</h4>
            <ul>
                <li>
                    <a href="{{ path('facebookLogin') }}" class="facebook">
                        <span class="fa fa-facebook-official"/>
                    </a>
                </li>
                <li>
                    <a href="#" class="twitter">
                        <span class="fa fa-twitter"/>
                    </a>
                </li>
                <li>
                    <a href="{{ path('google') }}" class="google">
                        <span class="fa fa-google"/>
                    </a>
                </li>
            </ul>
        </div>
        <p class="text-center h4">Or just Sign In</p>
        {% endif %}
    </div>
{% endblock %}
