{% extends 'base.html.twig' %}

{% block title %}Simple Social Login Page{% endblock %}

{% block body %}
    <div class="login-box">
        <div class="login-box-header">Login</div>
        <div class="login-box-social">
            {% if data is not empty %}
            {% else %}
            <h4>Connect with<h4>
            <ul>
                <li>
                    <a href="#" class="facebook">
                        <span class="fa fa-facebook-official"/>
                    </a>
                </li>
                <li>
                    <a href="#" class="twitter">
                        <span class="fa fa-twitter"/>
                    </a>
                </li>
                <li>
                    <a href="{{ path('google') }}" class="google">
                        <span class="fa fa-google"/>
                    </a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}
